{% extends 'base.html' %}

{% block body %}
You Are visiting ReporterAPI<br/>
{%if message %}
<hr/>
{{message}}
<hr/>
{%endif%}
following endpoints are up and running:
<ul>
	{%for point in endpoints %}
	<li>
		<a href="{{point.url}}">{{point.title}}</a>
	</li>
	{%endfor%}
</ul>
{% endblock %}